<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corona Virus</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            /*background-color: #ccc;*/
        }
        body{
            background-color: #ccc;
        }
        .container {
            width: 1200px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: red;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="width: 100%; height: 70px; background-color: white; border-top: solid 1px grey; border-bottom: solid 1px grey;">
        <table border="0" width="100%" style="text-align: center;">        
            <tr style="height: 70px;">
                <th width="300px;">State</th>
                <th width="300px;">Country</th>
                <th width="150px;">Total</th>
                <th width="150px;"> change </th>
            </tr>
        </table>
    </div>

    {% for dic in dict.items %}
        {% if forloop.counter|divisibleby:2 %}
            <div style="width: 100%; height: 50px; background-color: white; border-bottom: solid 1px grey;">
                <table border="0" width="100%" style="text-align: center;">
                    <tr style="height: 30px;">
                        <td width="300px;">{{ dic.1.state }}</td>
                        <td width="300px;">{{ dic.1.country }}</td>
                        <td width="150px;">{{ dic.1.total }}</td>
                        <td width="150px;">{{ dic.1.change }}</td>
                    </tr>
                </table>
            </div>
        {% else %}
           <div style="width: 100%; height: 50px; background-color: #f3f3f3; border-bottom: solid 1px grey;">
                <table border="0" width="100%" style="text-align: center;">
                    <tr style="height: 30px;">
                        <td width="300px;">{{ dic.1.state }}</td>
                        <td width="300px;">{{ dic.1.country }}</td>
                        <td width="150px;">{{ dic.1.total }}</td>
                        <td width="150px;">{{ dic.1.change }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>